body {
  background-color: rgb(211, 211, 211);
}

.game {
  background-color: white;
  border: 1px solid rgb(167, 167, 167);
}

#score-life {
  position: absolute;
  top: 20px;
  left: 310px;
  font-size: 27px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  justify-self: center;
  text-align: center;
  height: 100%;
}

#restart {
  position: absolute;
  left: 325px;
  top: 220px;
  border: 0;
  color: rgb(255, 133, 27);
  font-size: 45px;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  transition-duration: 0.3s;
}

#restart:hover {
  color: rgb(255, 213, 0);
}
